{% extends "base.html" %}

{% block announce %}
    📢 Signup for a free session to discover R2Devops using your project 👉
<a href="https://calendly.com/r2devops/introduction" class="banner-link">
    I book my meeting
</a>
    🔥
{% endblock %}


{% block extrahead %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MNHD549');</script>
<!-- End Google Tag Manager -->
{% endblock %}

{% block header %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MNHD549"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{ super() }}
{% endblock %}
